<div id="confirmCaptureCloseModal" class="modal fade" style="display:none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">What next?</h4>
			</div>
			<div class="modal-body">
				<p>Would you like to generate the questionnaire statistics now?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="generateStats" data-dismiss="modal">Yes</button>
				<button type="button" class="btn btn-warning" id="goHome" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-1"><button class="btn btn-default" id="goToFirst"><i class="fa fa-fast-backward"></i></button></div>
    <div class="col-xs-1"><button class="btn btn-default" id="goToPrevious"><i class="fa fa-play fa-flip-horizontal"></i></button></div>
    <div class="col-xs-2">
        <form id="moveTo"><input id="idx" type="number" class="form-control" value="<%- position %>" /></form>
    </div>
    <label for="idx" class="col-xs-2" id="numberOfQuestionnaires">of <%- numberOfQuestionnairesPlusOne %></label>
    <div class="col-xs-1"><button class="btn btn-default" id="goToNext"><i class="fa fa-play"></i></button></div>
    <div class="col-xs-1"><button class="btn btn-default" id="goToLast"><i class="fa fa-fast-forward"></i></button></div>
</div>

<form id="survey">
	<div class="row">
		<div class="col-xs-6">
			<select id="type" name="type" class="form-control">
				<option value="outpatient">Outpatient survey</option>
				<option value="inpatient">Inpatient survey</option>
			</select>
		</div>
	</div>

	<br style="clear:both;" />

	<table id="questions" class="table">
		<thead>
			<th>Question</th>
			<th class="text-center">Strongly<br />disagree</th>
			<th class="text-center">Disagree</th>
			<th class="text-center">Not<br />sure</th>
			<th class="text-center">Agree</th>
			<th class="text-center">Strongly<br />agree</th>
			<th></th>
		</thead>
		<tbody>
		</tbody>
	</table>

	<div class="row">
		<div class="col-xs-1">
			<button class="btn btn-default" type="button" id="close">Close</button>
		</div>
		<div class="col-xs-9"></div>
		<div class="col-xs-1">
			<button class="btn btn-primary" type="submit" id="save">Save</button>
		</div>
		<div class="col-xs-1">
			<button class="btn btn-danger" type="button" id="delete">Delete</button>
		</div>
	</div>
</form>